/* baased styling */

.width-based {
    margin: 20px auto;
    width: 85%
}

.bg-white {
    background-color: white;
}

.company-info-header {
    position: absolute;
    width: 80%;
    height: 200px;
    margin: auto;
    z-index: 1;
    left: 10%;
    top: min(100%, 650px);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 6px 20px rgb(196 196 196 / 67%);
}

.card-info-header {
    margin: auto 20px;
}

.header-company-info-icon {
    border-radius: 48%;
    width: 80px;
    height: 80px;
}

.header-info-company {
    margin: auto;
}

.header-company-count {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: left;
    margin: 0;
    color: #0B132A;
}

.header-company-people-info {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    align-items: left;
    color: #4F5665;
    margin: 0;
}

.header-desc-section {
    margin: 150px auto 100px auto;
    width: 100%;
}

.header-desc-section-li {
    margin: auto;
    padding-left: 70px;
}

.home-favourite-product {
    margin: auto;
    width: 95%;
}


/* styling components */

.header-wrapper {
    width: 100%;
    height: auto;
}

.bgHeader {
    object-fit: contain;
    width: 100%;
    z-index: -2;
    position: relative;
}

div.card {
    border: none;
}

.home-li-wrapper {
    height: 310px;
    margin: 20px auto;
}

.header-description-wrapper {
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 10%;
    width: 80%;
}

.search-box-home {
    float: right;
}

.search-box-home input {
    border-radius: 25px;
    background-color: #EFEEEE;
}

.header-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    color: #FFFFFF;
    margin: 30px auto;
}

.header-text {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFFFFF;
    margin: 30px auto;
}

.btn-get-started {
    background: #FFBA33;
    border-radius: 10px;
    height: 60px;
    box-shadow: (0px 6px 20px rgba(255, 186, 51, 0.4));
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #6A4029;
}

.team-work-section {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #0B132A;
}

.team-work-section {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #4F5665;
}

.team-work-section-li {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    color: #4F5665;
    padding-left: 3px;
}

.bi-check-circle-fill {
    padding-right: 10px;
    color: #2FAB73;
}

.home-product-wrapper-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    color: #0B132A;
}

.home-product-wrapper-desc {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    color: #4F5665;
    margin-bottom: 70px;
}

.card-img-top {
    border-radius: 48%;
    max-height: 128px;
    max-width: 128px;
    margin: 40px auto 20px auto;
}

.home-card-product-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    color: #0B132A;
}

.home-card-product-li {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    color: #4F5665;
    margin: 15px auto auto 40px;
    text-align: left;
    background-color: white;
}

.home-card-popular {
    width: max(330px, 60%);
    height: 725px;
    margin: 20px 10px;
    background-color: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}

.home-card-product-price {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: #0B132A;
    margin: 20px auto 25px auto;
}

.btn-order-now {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #FFBA33;
    box-sizing: border-box;
    border-radius: 50px;
    color: #6A4029;
    margin: auto;
    display: flex;
    align-items: center;
}

.home-Map-Img {
    width: 100%;
    margin: 20px auto;
}

.img-partener-thumbnail {
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: flex;
}

.width-based-product {
    margin: auto;
    width: 100%;
}

.bi-star-fill {
    color: #FEA250;
}

.testimonial-section-wrapper {
    width: 100%;
    margin: auto;
}

.user-testimonial-card {
    border-radius: 48%;
    width: 50px;
    height: 50px;
}

.rate-testimonial {
    text-align: center;
}

.rate-testimonial p {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #0B132A;
    text-align: center;
}

.card-testimonial-wrapper {
    background: #FFFFFF;
    border: 2px solid #6A4029;
    border-radius: 10px;
    padding: 30px 50px;
    margin: 10px 20px;
}

.testimonial-name-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    margin: 0;
    color: #0B132A;
}

.testimonial-name-place {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    align-items: left;
    color: #4F5665;
}

.testimonial-card-description {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    align-items: center;
    color: #0B132A;
}

.home-left-btn {
    border-radius: 48%;
    border: 2px solid #6A4029;
    width: 60px;
    height: 60px;
    background-color: white;
    margin: 5px;
}

.home-right-btn {
    border-radius: 48%;
    border: 2px solid #6A4029;
    width: 60px;
    height: 60px;
    background-color: #6A4029;
    margin: 5px;
}

.bi-arrow-left {
    color: #6A4029;
    font-size: 2rem;
}

.bi-arrow-right {
    color: white;
    font-size: 2rem;
}


/* pagination */

.paginationDot {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 180px;
    height: 20px;
    margin: 0 auto;
    transform: translateY(-50%);
    overflow: hidden;
    z-index: 1;
}

.buttonDot {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 20px;
    background: #DDE0E4;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease width;
}

.button:last-child {
    margin-right: 0;
}

.buttonDot.active {
    width: 60px;
    cursor: auto;
    background-color: #6A4029;
}

.section-bottom-home {
    width: 100%;
    height: auto;
    margin: 40px auto 150px auto;
    position: relative;
}

.signupCard {
    width: 65%;
    margin: auto;
    left: 20%;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 6px 20px rgb(196 196 196 / 67%);
}

.btn-card-promo-signup-home {
    width: 250px;
    height: 60px;
    padding: 15px;
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #6A4029;
    background: #FFBA33;
    border-radius: 10px;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
}

.promo-card-signup-home {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.promo-card-signup-text-home {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: #4F5665;
}


/* responsive */

@media screen and (max-width: 1024px) {
    .header-title {
        font-size: 2rem;
        margin: 20px auto;
    }
    .header-text {
        font-weight: 500;
        font-size: 0.9rem;
    }
    .company-info-header {
        top: 428px;
        z-index: 1;
    }
    .width-based {
        width: 95%;
    }
    .card-testimonial-wrapper {
        padding: 11px 25px;
        margin: 10px 10px;
    }
    .rate-testimonial {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .header-title {
        font-size: 1.6rem;
        margin: 10px auto;
    }
    .header-text {
        margin: 10px auto;
        font-weight: 500;
        font-size: 0.8rem;
    }
    .header-description-wrapper {
        top: 97px;
        width: 96%;
        left: 43px;
    }
    .company-info-header {
        top: 358px;
        height: 130px;
        z-index: 1;
    }
    .header-company-info-icon {
        width: 50px;
        height: 50px;
    }
    .header-company-count {
        font-size: 1rem;
    }
    .header-company-people-info {
        font-size: 0.7rem;
    }
    .header-desc-section-li {
        padding-left: 0;
    }
    .team-work-section-li {
        font-size: 0.6rem;
    }
    .team-work-section-desc {
        font-size: 0.8rem
    }
    .team-work-section {
        font-size: 0.8rem
    }
    .signupCard {
        height: 131px;
    }
    .btn-card-promo-signup-home {
        width: 134px;
    }
}

@media screen and (max-width: 426px) {
    .bgHeader {
        object-fit: cover;
        height: 256px;
    }
    .header-title {
        font-size: 1rem;
        margin: 10px auto;
        height: auto;
    }
    .header-text {
        margin: 10px auto;
        font-weight: 500;
        font-size: 0.6rem;
    }
    .btn-get-started {
        height: 40px;
        font-size: 0.8rem;
    }
    .header-desc-section {
        margin: 94px auto;
    }
    .header-description-wrapper {
        top: 67px;
        width: 100%;
        left: 0;
        margin: auto;
        height: auto;
    }
    .search-box-home input {
        width: 100%;
        font-size: 0.6rem;
    }
    .company-info-header {
        top: 258px;
        height: 130px;
        z-index: 1;
        width: 95%;
        left: 3%;
        padding-left: 5px;
    }
    .home-Map-Img {
        padding: 0;
        margin: auto;
    }
    .header-company-info-icon {
        width: 20px;
        height: 20px;
    }
    .card-info-header {
        margin: auto 3px;
    }
    .home-product-wrapper-title {
        font-size: 1rem;
    }
    .home-product-wrapper-desc {
        font-size: 0.7rem;
        margin-bottom: 30px;
    }
    .header-company-count {
        font-size: 0.8rem;
    }
    .header-company-people-info {
        font-size: 0.6rem;
    }
    .header-desc-section-li {
        padding-left: 20px;
    }
    .team-work-section-li {
        font-size: 0.6rem;
    }
    .team-work-section-desc {
        font-size: 0.8rem
    }
    .team-work-section {
        font-size: 0.8rem
    }
    .user-testimonial-card {
        width: 30px;
        height: 30px;
    }
    .testimonial-name-title {
        font-size: 0.8rem
    }
    .testimonial-name-place {
        font-size: 0.6rem
    }
    .rate-testimonial {
        font-size: 0.8rem
    }
    .card-testimonial-wrapper {
        margin: 10px auto;
    }
    .testimonial-card-description {
        font-size: 0.7rem
    }
    .paginationDot {
        width: 130px;
    }
    .buttonDot {
        width: 10px;
        height: 10px;
        float: left;
        margin-right: 10px;
    }
    .buttonDot.active {
        width: 30px;
    }
    .home-left-btn {
        width: 30px;
        height: 30px;
    }
    .home-right-btn {
        width: 30px;
        height: 30px;
    }
    .bi-arrow-left {
        font-size: 1rem;
    }
    .bi-arrow-right {
        font-size: 1rem;
    }
    .signupCard {
        width: 90%;
        left: 5%;
    }
    .btn-card-promo-signup-home {
        width: 100px;
        font-size: 0.8rem;
        height: 40px;
        padding-top: 10px;
        margin-right: 40px;
    }
    .promo-card-signup-home {
        font-size: 0.8rem;
        margin-left: 10px;
    }
    .promo-card-signup-text-home {
        font-size: 0.6rem;
        margin-left: 10px;
        width: 130px;
    }
    .home-card-product-price {
        margin: 15px auto;
        font-size: 1rem;
    }
    .btn-order-now {
        font-size: 0.8rem;
    }
    .home-card-product-li {
        font-size: 0.7rem;
        margin: auto;
    }
    .home-card-product-title {
        font-size: 1.1rem;
    }
    .card-img-top {
        max-height: 100px;
        max-width: 100px;
        margin: 28px auto 9px auto;
    }
    .home-card-popular {
        margin: 20px auto;
        height: 500px;
    }
    .home-li-wrapper {
        height: 210px;
    }
}