@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.starter-wrapper {
    width: 100%;
    margin: auto;
    background-color: white;
    position: relative;
    height: 840px;
    /* z-index: -1; */
}

.btn-login {
    width: 150px;
    height: 45px;
    background: #FFBA33;
    border-radius: 50px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
    font-size: 1rem;
    color: #6A4029;
}

.img-fluid {
    width: 100%;
    height: 800px;
    padding: 0;
    object-fit: cover;
}

.signup-img-wrapper {
    padding: 0;
    float: left;
}

.signup-form-wrapper {
    float: right;
    padding: 10px 0;
}

.signup-form {
    width: 75%;
    margin: 50px auto;
}

.signup-form input {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #4F5665;
    box-sizing: border-box;
    border-radius: 20px;
}

.signup-form label {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #4F5665;
}

.signup-form-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    color: #6A4029;
    text-align: center;
    margin: auto auto 40px;
}

.btn-signup {
    height: 60px;
    width: 100%;
    margin: 15px auto;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    border-radius: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #6A4029;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
}

.btn-signup-custom {
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
}

.member-card {
    width: 65%;
    margin: auto;
    left: 20%;
    bottom: -150px;
    height: 25%;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
}

.promo-card-signup {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.promo-card-signup-text {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: #4F5665;
}

.btn-card-promo-signup {
    width: 250px;
    height: 60px;
    padding: 15px;
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #6A4029;
    background: #FFBA33;
    border-radius: 10px;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
}


/* Login Page */

.btn-forgot-password {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    text-decoration-line: underline;
    color: #6A4029;
}


/* forgot password */

.forgotpassword-bg {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.forgotpassword-content {
    text-align: center;
    position: absolute;
    top: 20%;
    margin: auto;
    width: 100%;
    color: white;
}

.forgotpassword-content form {
    margin: 70px auto;
    height: 100px;
    width: 60%;
    text-align: center;
}

.input-email-auth-password {
    width: 68%;
    height: 100px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    text-align: left;
    padding-left: 35px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    color: #9F9F9F;
}

.btn-send-email {
    width: 27%;
    height: 100px;
    background: #FFBA33;
    margin: auto 19px;
    box-shadow: 0px 6px 20px rgba(255, 186, 51);
    border-radius: 20px;
    font-family: Poppins;
    font-style: normal;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: #6A4029;
    padding: 30px;
}

.forgotpassword-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    color: #FFFFFF;
}

.forgotpassword-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.forgotpasssword-information {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #FFFFFF;
}

.forgotpasssword-countdown {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: #FFFFFF;
}

.btn-resend {
    width: 100%;
    height: 100px;
    margin: 30px auto;
    background-color: #6A4029;
    box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.46);
    border-radius: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding: 30px;
}

.reset-password-box {
    margin: 70px auto;
    width: 340px;
    height: 400px;
    padding-bottom: 35px;
    background-color: white;
    border: 1px solid silver;
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    transition: height 1s ease;
}

.title-bar {
    height: 40px;
    width: 100%;
    background-color: WhiteSmoke;
    border-bottom: 1px solid silver;
}

.center-title {
    position: absolute;
    margin-top: -1px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    vertical-align: top;
    font-weight: 800;
    color: LightGrey;
}

.title {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    padding-top: 12px;
    font-weight: 700;
    color: grey;
}

.username-label {
    line-height: 200%;
}

.username {
    padding-top: 20px;
    padding-left: 30px;
}

.password-label {
    line-height: 200%;
}

.password {
    padding-top: 10px;
    padding-left: 30px;
}

.new-password-label {
    line-height: 200%;
}

.new-password {
    padding-top: 10px;
    padding-left: 30px;
}

.password-verification {
    padding-top: 10px;
    padding-left: 30px;
}

.password-verification-label {
    line-height: 200%;
}

.opacity-0 {
    opacity: 0;
}

#username-input,
#password-input,
#new-password-input,
#password-verification-input {
    width: 260px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    border: 1px solid darkgrey;
    border-radius: 0px;
}

.back-login {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.back {
    display: inline-block;
    border: 1px solid LightGrey;
    width: 130px;
    text-align: center;
    background-color: DarkRed;
    color: white;
}

.back:active {
    background-color: LightGrey;
}

.back>a {
    color: inherit;
    text-decoration: none;
    width: inherit;
    min-height: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reset-password-button {
    float: right;
    display: inline-block;
    border: 1px solid LightGrey;
    width: 130px;
    text-align: center;
    background-color: SteelBlue;
    color: white;
}

.reset-password-button:active {
    background-color: LightGrey;
}

.reset-password-button>a {
    color: inherit;
    text-decoration: none;
    width: inherit;
    min-height: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-verify {
    display: flex;
    flex-flow: column;
    height: 400px;
    align-items: space-around;
    justify-content: center;
}

.userInput {
    display: flex;
    justify-content: center;
}

.userInput input {
    margin: 10px;
    height: 35px;
    width: 65px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    background: #eef2f3;
}

.container-verify h1 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(0, 0, 0);
}

.container-verify button {
    width: 150px;
    height: 40px;
    margin: 25px auto 0px auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}


/* responsive */

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {
    .member-card {
        bottom: -220px;
    }
}

@media screen and (max-width: 786px) {
    .signup-img-wrapper {
        position: relative;
        width: 100%;
        z-index: 1;
    }
    .signup-form-wrapper {
        position: absolute;
        top: 7%;
        z-index: 2;
        margin: auto;
        left: 25%;
        background-color: rgba(255, 255, 255, 0.89);
        border-radius: 10px;
        height: max(500px, 700px);
    }
    /* .navbar-brand strong {
        color: white;
    } */
    .login-nav-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .signup-form input {
        border: none;
        box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    }
    .signup-form-title {
        font-size: 1.3rem;
        margin: auto auto 15px;
    }
    .promo-card-signup {
        font-size: 1.1rem;
    }
    .promo-card-signup-text {
        font-size: 0.8rem;
    }
    .member-card {
        display: none !important;
        /* max-width: 50%;
        left: 25%;
        display: none;
        padding: 10px 40px; */
    }
}

@media screen and (max-width: 426px) {
    .signup-img-wrapper {
        position: relative;
        width: 100%;
        z-index: -1;
    }
    .signup-form-wrapper {
        position: absolute;
        top: 7%;
        z-index: 2;
        margin: auto;
        left: 0;
        background-color: rgba(255, 255, 255, 0.89);
        border-radius: 10px;
        height: max(500px, 700px);
    }
    /* .navbar-brand strong {
        color: white;
    } */
    .login-nav-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .signup-form input {
        border: none;
        box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    }
    .promo-card-signup {
        font-size: 1.1rem;
    }
    .promo-card-signup-text {
        font-size: 0.8rem;
    }
    .member-card {
        display: none !important;
        /* max-width: 50%;
        left: 25%;
        display: none;
        padding: 10px 40px; */
    }
}