@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.image-history-wrapper{
    margin-top: 7%;
    /* margin-bottom: auto; */
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 100%;
}

.image-vegie{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
    /* border-radius: 100%; */
}

.card-history{
    /* background-color: #FFFFFF; */
    border-radius: 10px;
    /* width: 100px;
    height: 100px; */
    /* margin: 2px 2px; */
    margin-top: 2%;
}

.brand-history{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.2rem;
    text-align: start;
}

.priced-history{
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 400;
    color: #895537;
    text-align: start;
}

.delivered-history{
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 400;
    color: #895537;
    text-align: start;
}

.card-history-cek{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.checkbox-history{
    text-align: end;
}

.check-history-sleect{
    text-align: end;
}

.modal-deleteHistory{
    margin-top: 10%;
}

@media screen and (max-width: 1024px) {
    .image-history-wrapper{
        width: 80px;
        height: 80px;
        margin-top: 20%;
    }
    .brand-history{
        font-size: 0.9rem;
    }
    .priced-history{
        font-size: 0.8rem;
    }
    .delivered-history{
        font-size: 0.9rem;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 768px) {
    .image-history-wrapper{
        width: 200px;
        height: 200px;
        margin: 0;
        padding: 5%;
    }
    .brand-history{
        font-size: 1.4rem;
    }
    .priced-history{
        font-size: 1.2rem;
    }
    .delivered-history{
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1.3rem;
    }
    .checkbox-history{
        text-align: end;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media screen and (max-width: 426px) {
    .image-history-wrapper{
        width: 150px;
        height: 150px;
    }
    .brand-history{
        font-size: 1rem;
    }
    .priced-history{
        font-size: 0.9rem;
    }
    .delivered-history{
        font-size: 0.9rem;
    }
}