.product-page {
    margin: 50px auto;
    width: 100%;
}

.promo-section-product {
    padding-top: 20px;
    border-top: 1px solid rgb(202, 202, 202);
    text-align: center;
    width: 100%;
    border-right: 1px solid rgb(202, 202, 202);
}

.product-link-wrapper {
    margin: auto;
    width: 100%;
    text-align: center;
}

.promo-product-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    color: #6a4029;
}

.promo-product-description {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    text-align: center;
    color: #000000;
    margin: auto auto 30px;
}

.couponCard {
    padding-top: 10px;
    padding-left: 2px;
    height: 85px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.product-content-bottom-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #6A4029;
    bottom: 0;
    position: absolute;
}


/* width 1024

.couponCard {
    padding: 10px 30px;
    ---padding change

.promo-coupon-img {
    float: left;
    left: 0;
width: 30%;
margin: auto 0px;} */

.green-couponCard {
    background: #88b788;
}

.yellow-couponCard {
    background: #f5c361;
}

.semi-brown-couponCard {
    background: #c59378;
}

.promo-coupon-img {
    float: left;
    width: max(60px, 15%);
    margin: auto 7px;
}

.promo-today-title {
    font-family: Poppins;
    font-style: normal;
    font-size: 0.9rem;
    color: #000000;
    text-align: left;
    /* float: right; */
    margin: 0;
}

.btn-apply-coupon {
    background: #6a4029;
    border-radius: 20px;
    padding-top: 10px;
    height: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    margin: 20px auto 70px auto;
}

.li-terms-coupon-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 0.9rem;
    color: #4f5665;
    text-align: left;
    margin: 0;
}

.li-terms-coupon {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7rem;
    background-color: white;
    color: #4f5665;
    text-align: left;
    padding: 1px 1px;
}


/* product listing */

.productsNavigation {
    padding-top: 20px;
    border-top: 1px solid rgb(202, 202, 202);
    padding-left: 40px;
    padding-right: 40px;
}

.products-navigation {
    text-decoration: none !important;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    color: #9f9f9f;
    margin: auto 23px;
}

.active {
    color: #6a4029;
    font-weight: bolder;
    border-bottom: 3px solid #6a4029;
}


/* content product / product list */

.product-content-wrapper {
    width: 100%;
    margin: 30px auto;
    height: (600px, 900px);
    text-align: center;
}

.product-item {
    background-color: white;
    margin: 10px;
    /* height: 250px; */
    width: calc(100px + 5vw);
    height: calc(100px + 5vw);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    /* object-fit: cover; */
}
.card-item > a:hover {
    text-decoration: none;
}

.product-img-container {
    border-radius: 50%;
    border: none;
}

.product-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 1.1rem;
    text-align: center;
    color: #000000;
}

.product-price {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: #6a4029;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.empty-product {
    font-family: Poppins;
    font-size: calc(16px + 0.3vw);
}

@media screen and (max-width: 1024px) {
    .promo-today-title {
        font-size: 0.8rem;
    }
    .products-navigation {
        font-size: 1rem;
        margin: auto 18px;
    }
    .product-title {
        font-size: 0.9rem;
    }
    .product-price {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    .promo-today-title {
        font-size: 0.6rem;
        padding-top: 15px;
    }
    .products-navigation {
        font-size: 1rem;
        margin: auto 7px;
    }
    .productsNavigation {
        padding: 20px 10px;
    }
    .promo-product-title {
        font-size: 1rem;
    }
    .promo-product-description {
        font-size: 0.7rem;
    }
    .btn-apply-coupon {
        font-size: 0.7rem;
        padding-top: 15px;
    }
    .terms {
        margin: auto 19px;
    }
    .li-terms-coupon-title {
        font-size: 0.7rem;
    }
    .li-terms-coupon {
        font-size: 0.6rem;
        padding: 0px;
    }
    .product-content-bottom-text {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 426px) {
    .products-navigation {
        font-size: 0.8rem;
    }
    .terms {
        margin: auto 19px;
    }
    .li-terms-coupon-title {
        font-size: 0.6rem;
    }
    .li-terms-coupon {
        font-size: 0.5rem;
        padding: 0px;
    }
    .product-content-bottom-text {
        font-size: 0.5rem;
    }
}