@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.payment-page{
    background-image: url("../../assets/paymnet-bg.png");
    background-position: center;
    background-repeat: no-repeat;
}
.cart-empty {
    font-size: 1.2rem;
}
.title-payment{
    padding: 5% 5%;
    font-family: 'Rubik';
    font-size: 2.1rem;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 3px 3px 4px black;
}

.order-summary{
    border-radius: 15px;
    background-color: #FFFFFF;
    margin: auto;
    text-align: center;
    margin-bottom: 10%;
    padding-bottom: 10%;
}

.title-order-summary{
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 700;
}

.hazelnut-image{
    width: 100px;
    height: 100px;
}

.line{
    height: 10px;
}

.subtotal-summary, .tax-fees-summary, .shipping-summary{
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-weight: 400;
}

.total-order-summary{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.8rem;
}

.price-order-summary{
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-weight: 400;
}

.total-price-summary{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.8rem;
}

.name-order-summary, .count-summary, .size-summary{
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Poppins';
}

.pricing{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.1rem;
    font-weight: 400;
}

.detail-order-summary{
    margin-top: auto;
    margin-bottom: auto;
}

.detail-summary-second{
    margin-top: 5%;
}

.address-details-title{
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 700;
    text-shadow: 3px 3px 4px black;
}

.edit-address{
    color: #FFFFFF;
    font-size: 0.9rem;
    font-family: 'Poppins';
    font-weight: 700;
    text-shadow: 3px 3px 4px black;
}
.edit-address:hover {
    cursor: pointer;
}

.detail-address-summary{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 0;
    padding: 5% 5%;
}

.detail-address{
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 500;
}

.address-summary-detail{
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 400;
}

.payment-methods-title{
    margin-top: 10%;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 700;
    text-shadow: 3px 3px 4px black;
}

.select-card{
    margin-top: auto;
    margin-bottom: auto;
}

.iconCard{
    padding-left: 5%;
}

.select-payment-summary{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
    font-family: 'Poppins';
}

.payment-detail-summary{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 0;
}

.payment-methods-summary{
    padding: 3% 5%;
}

.button-confirm-pay{
    width: 80%;
    height: 80px;
    border-radius: 10px;
    background-color: #6A4029;
    color: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    /* margin-left: auto;
    margin-right: auto; */
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-weight: 700;
}

.button-payment{
    margin-top: 5%;
}

@media screen and (max-width: 1024px) {
    .title-payment{
        font-size: 1.8rem;
    }
    .title-order-summary{
        font-size: 1.7rem;
    }
    .name-order-summary, .count-summary, .size-summary{
        font-size: 1rem;
    }
    .pricing{
        font-size: 1rem;
    }
    .total-order-summary{
        font-size: 1.6rem;
    }
    .total-price-summary{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 768px) {
    .title-payment{
        font-size: 1.6rem;
    }
    .title-order-summary{
        font-size: 1.8rem;
    }
    .name-order-summary, .count-summary, .size-summary{
        font-size: 1rem;
    }
    .pricing{
        font-size: 1rem;
    }
    .total-order-summary{
        font-size: 1.4rem;
    }
    .total-price-summary{
        font-size: 1.4rem;
    }
    .hazelnut-image{
        width: 100px;
        height: 100px;
    }
    .tax-fees-summary, .subtotal-summary, .shipping-summary{
        font-size: 0.9rem;
    }
    .price-order-summary{
        font-size: 0.9rem;
    }
    .address-details-title{
        font-size: 1.3rem;
    }
    .edit-address{
        font-size: 0.9rem;
    }
    .detail-address{
        font-size: 1rem;
    }
    .address-summary-detail{
        font-size: 1rem;
    }
    .payment-methods-title{
        font-size: 1.3rem;
        margin-top: 5%;
    }
    .button-confirm-pay{
        height: 50px;
    }
    .button-payment{
        text-align: center;
        margin-bottom: 5%;
    }
    .edit-address{
        text-align: end;
    }
}

@media screen and (max-width: 426px) {

}