@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.manage-page {
  background-image: url("../../assets/paymnet-bg.png");
  background-position: center;
}

.title-manage {
  padding: 5% 5%;
  font-family: "Rubik";
  font-size: 2.1rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 3px 3px 4px black;
}

.delivery-order {
  border-radius: 15px;
  background-color: #ffffff;
  margin: auto;
  text-align: center;
  margin-bottom: 5%;
  padding-bottom: 10%;
}

.title-manage-order{
     padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 700;
}

.name-manage-order, .count-manage-order, .size-manage-order{
    margin: 0;
    /* margin-top: auto;
    margin-bottom: auto; */
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Poppins';
    text-align: start;
}

.line-address{
    height: 1px;
    background-color: black;
}

.price-manage-order{
    margin-top: 0;
    margin-bottom: qrem;
    font-size: 1.1rem;
    font-weight: 400;
}

.detail-manage-second{
    margin-top: 5%;
}

.line-manage-order{
    background-color: black;
    height: 1px;
}

.subtotal-manage-order, .tax-fees-manage-order, .shipping-manage-order{
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-weight: 400;
}

.total-manage-order{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.8rem;
}

.total-price-manage-order{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.8rem;
}

.swipe-up{
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    margin-bottom: 5%;
}

.aside-manage-order{
    text-align: center;
}

.button-done{
    width: 80%;
    height: 80px;
    border-radius: 10px;
    background-color: #6A4029;
    color: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    /* margin-left: auto;
    margin-right: auto; */
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-weight: 700;
}